body{
  background: url("../img/stars.gif");
  width:100%;
}

img{
  width: 95%;
}

.chars{
  cursor:pointer;
}

.logo{
  width:50vh;
  padding-top:2%;
}

p{
  color:#e0c80c;
  font-family: 'Open Sans', sans-serif;
  font-size:1.2em;
  padding-top:1.5%;
}

h2,h4,p{
  text-align: center;
}

@media only screen and (min-width: 992px){
  .logo{
    width:70vh;
  }
}